:root {
  /* Light Mode */

  --light-background: #F7FBFA;
  --light-surface: #FFFFFF;

  --primary: #5B6DF6;
  --primary-light: #EEF2FF;

  --light-text-primary: #111827;
  --light-text-secondary: #687280;

  --light-border: #E5E7EB;

  --success: #22C55E;
  --warning: #E59E0B;
  --danger: #EF4444;
  --danger-hover: #DC2626;
  --primary-hover: #4A5BE0;


  /* Current Theme - Light */

  --background: var(--light-background);
  --surface: var(--light-surface);

  --text-primary: var(--light-text-primary);
  --text-secondary: var(--light-text-secondary);

  --border: var(--light-border);


  /* Dark Mode */

  --dark-background: #0F1115;
  --dark-surface: #1A1F2B;

  --dark-primary-light: #26283A;

  --dark-text-primary: #E5E7EB;
  --dark-text-secondary: #9CA3AF;

  --dark-border: #283038;
}

.dark {
  --background: var(--dark-background);
  --surface: var(--dark-surface);

  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);

  --border: var(--dark-border);

  --primary-light: var(--dark-primary-light);

  color: var(--text-primary);
}


/* main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--background);
  color: var(--text-primary);
} */
 main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--background);
  color: var(--text-primary);
}


body{
  background: var(--background);
  color: var(--text-primary);
}


.app{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--background);
  color: var(--text-primary);
}


.header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding-inline: 10px;
  padding: 20px;

  border-bottom: 1px solid var(--border);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);

  background: var(--background);
  color: var(--text-primary);
}


.logo{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}


.toggle-btn{
  border: none;
  background: var(--primary);
  color: white;
  padding: 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}


.toggle-btn:hover{
  background: var(--primary-hover);
}


a{
  text-decoration: none;
  color: var(--primary);
  cursor: pointer;
}


a:hover{
  color: var(--primary-hover);
}


/* =========================
   Tablet
========================= */

@media (max-width: 1024px) {

  .header {
    padding: 15px;
  }

  .logo {
    width: 30%;
  }

}


/* =========================
   Phone
========================= */

@media (max-width: 767px) {

  .header {
    height: 60px;
    padding: 10px 15px;
  }

  .logo {
    width: auto;
  }

  .toggle-btn {
    padding: 3px;
  }

}