
.sidecontent {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 width: 90%;
 height: 100%;
 /* margin-top: 50px; */
 box-sizing: border-box;
 padding: 15px 20px;
 gap: 10px;
 /* background: red; */
margin-left: 20px;
 margin-top:15px ;
 /* border-right:1px solid var(--dark-text-secondary); */
 /* border-top:1px solid var(--dark-text-secondary);
 border-left:1px solid var(--dark-text-secondary); */
 /* border: 1px solid var(--dark-text-secondary); */

}



.menu{
 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background: blue; */
    width: 100%;
    
   
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.mode{
    display: flex;
    justify-content: center;
    align-items: center;
 


}
hr {
  width: 100%;
  border: none;
  border-top: 1px solid  var(--dark-text-secondary);
  margin: 10px 0;
}



.bottom {
  width: 100%;
}



